################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/SysInfoApp/SysInfoApp/obj
/SysInfoApp/.vs
